@media screen and (min-width:960px) and (max-width:1366px) {
  div.container {
    width: 960px;
    max-height: 3300px;
  }
  div.brick {
  width: calc(50% - 4px);
  }
}

@media screen and (min-width:680px) and (max-width:960px) {
  div.container {
    width: 680px;
    max-height: 3300px;
  }
  div.brick {
  width: calc(50% - 4px);
  }
}

@media screen and (min-width:320px) and (max-width:680px) {
  div.container {
    width: 320px;
    max-height: 5500px;
  }
  div.brick {
  width: calc(100% - 4px);
  }
}

body {
  width: 100%;
  background: #cecece;
}

.container {
  display: flex;
  flex-flow: column wrap;
  max-height: 2200px;
  width: 1366px;
  margin: auto;
}

.brick {
  width: calc(33.3% - 4px);
  margin: 0px 2px 0px 2px;
}

img {
  width: 100%;
  border-radius: 10px;
}
