@import url('https://fonts.googleapis.com/css?family=Gabriela');

@media screen and (max-width:680px){
  div.container {
    width: 100%;
  }
  a.header-left-link {
    display: none;
  }
  img.web {
    display: none;
  }
  img.websmall {
    display: block;
  }
  li ol.submenu {
    width: 100vw;
    float: left;
    left: 0px;
    top: 65px;
  }
  .wrap ol.menu > li {
      position: static;
  }
  h1.caption {
    width: 100%;
    margin-bottom: 0;
  }
  div.block-content-nav {
    margin-bottom: 43px;
    display: inline-block;
  }
  div.content-blocks div {
    width: 340px;
  }
  a.button {
    width: 175px;
    margin: auto;
    margin-top: -7px;
  }
  div.block-content-nav div img {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  div.main div h2{
    font-size: 21px;
    line-height: 0.5em;
  }
  div.article-block p {
    width: 340px;
    font-weight: 600;
  }
  div.article-block p:last-child {
    display: none;
    font-size: 16px;
    font-family:
  }
  div.article-block {
    margin-bottom: 32px;
  }
  div.creators div {
    width: auto;
    display: inline-block;
  }

  .creators div:first-child {
    float: left;
    text-align: left;
  }

  .creators div:last-child {
    text-align: right;
  }
  body footer {
    height: 72px;
  }
  a.topbutton {
    display: none;
  }
}

@media screen and (max-width:450px){
  div.container {
    width: 100%;
  }
  a.header-left-link {
    display: none;
  }
  img.web {
    display: none;
  }
  img.websmall {
    display: block;
    margin: 10px 0px 0px 10px;
  }
  li ol.submenu {
    width: 100vw;
    float: left;
    left: 0px;
    top: 65px;
  }
  .wrap ol.menu > li {
      position: static;
  }
  h1.caption {
    width: 100%;
    margin-bottom: 0;
  }
  div.block-content-nav {
    margin-bottom: 43px;
    display: inline-block;
  }
  div.content-blocks div {
    width: calc(100% - 110px);
    margin: auto;
  }
  a.button {
    width: 175px;
    margin: auto;
    margin-top: -7px;
  }
  div.block-content-nav div img {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  div.main div h2{
    font-size: 21px;
    line-height: 0.5em;
  }
  div.article-block p {
    width: 340px;
    font-weight: 600;
  }
  div.article-block p:last-child {
    display: none;
    font-size: 16px;
    font-family:
  }
  div.article-block p {
    margin-bottom: 32px;
    width: calc(100% - 110px);
  }
  div.creators div {
    width: auto;
    display: inline-block;
  }
  .creators div:first-child {
    float: left;
    text-align: left;
  }
  .creators div:last-child {
    text-align: right;
  }
  body footer {
    height: 72px;
  }
  a.topbutton {
    display: none;
  }
}

html {
  font-family: "Gabriela";
  font-style: normal;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 700px;
  height: 100%;
  margin: auto;
}

header {
  height: 65px;
  width: 100%;
  background: #ff5c33;
  font-size: 21px;
  display: inline-block;
}
.wrap {
  width: 100%;
  height: 100%;
}
.web {
  float:left;
  margin: 4px 15px 0px 20px;
}
.websmall {
  display: none;
  float: left;
  margin: 9px 0px 0px 20px;
}
.header-left-link {
  color: black;
  float: left;
  margin: 15px 0px 0px 0px;
}

.menu {
  float: right;
}

ol {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ol:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ol.menu > li {
    float: left;
    position: relative;
    transition: all .5s ease .2s;
}
ol.menu > li > a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 21px 25px 17px 20px;
}
ol.menu li:hover {
    background-color: #333;
}

ol.submenu {
    display: none;
    position: absolute;
    width: 213px;
    top: 65px;
    left: 0;
    background-color: white;
    text-align: left;
  }

ol.submenu > li {
  padding-left: 15px;
  color: white;
  transition: all .5s ease .2s;
}

ol.submenu > li:hover {
  background-color: green;
  color: black;
}

ol.submenu > li > a {
    display: inline-block;
    padding-left: 0px;
    padding-top: 7px;
    color: white;
    text-decoration: none;
    height: 35px;
    transition: all .5s ease .2s;
}

ol.submenu > li > a:hover {
    color: white;
}

ol.submenu {
    list-style: inside decimal;
}

ol.menu:hover li ol {
    background-color: #333;
}

ol.menu > li:hover > ol.submenu {
    display: inline-block;
}

main {
  width: 100%;
}

.caption {
  font-size: 41px;
  text-transform: capitalize;
  color: #fe470f;
  margin: auto;
  width: 37%;
  margin-top: 75px;
  margin-bottom: 65px;
}

.block-content-nav {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-bottom: 57px;
}

.block-content-nav div img {
  margin-bottom: 16px;
  height: 90px;
}

.main div h2{
  font-size: 21px;
}

.content-blocks {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.content-blocks div {
  display: inline-block;
  width: 173px;
  padding: 0;
  box-sizing: border-box;
}

.content-blocks div:nth-child(2) {
  margin: 0px 55px 0px 55px;
}

.button {
  width: 100%;
  background: #fe470f;
  display: block;
  box-sizing: border-box;
  height: 50px;
  color: white;
  text-decoration: none;
  font-size: 21px;
  padding: 11px 0px 0px 0px;
  transition: all .5s ease .2s;
}

.button:hover {
    color: black;
    background: green;
}

.article-block {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 150px;
}

.article-block p {
  width: calc(50% - 15px);
  display: inline-block;
  text-align: left;
}

.article-block p:first-child {
  margin-left: 10px;
}

.article-block p:last-child {
  margin-left: 10px;
}

footer {
  width: 100%;
  height: 44px;
  background: #ff5c33;
  display: inline-block;
  text-align: center;
}

.creators {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.creators div {
  width: 45%;
  display: inline-block;
  margin-top: 12px;
  color: white;
}

.creators div:first-child {
  float: left;
  text-align: left;
  margin-left: 25px;
  font-size: 21px;
  text-transform: capitalize;
  margin-top: 9px;
}

.creators div:last-child {
  float: right;
  text-align: left;
  margin-right: 16px;
  font-size: 15px;
  font-style: italic;
}

.topbutton {
  position:fixed;
  bottom:70px;
  right:20px;
  opacity: 0.3;
  transition: opacity 0.3s, linear 0.3s;
}

.topbutton:hover {
  opacity: 1;
  transition-delay: 0s;
}
